name: ci

on: 
  push:
    branches:
      - master
  pull_request:

jobs:
  redis:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x]
    services:
      redis:
        image: redis
        ports:
        - 6379:6379
    name: Node ${{ matrix.node }} test
    steps:
      - uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}    
      - name: Install Deps
        run: npm install
      - name: Run tests on REDIS
        run: npm test
        env:
          DB: redis
  mongo:
    runs-on: ubuntu-18.04
    timeout-minutes: 20
    strategy:
      matrix:
        node-version: [10.x, 12.x, 13.x]
    services:
      mongodb:
        image: mongo:3.4.23
        ports:
          - 27017:27017
    name: Node ${{ matrix.node }} test
    steps:
      - uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - name: Install Deps
        run: npm install
      - name: Run tests on MONGO
        run: npm test 
        env:
          DB: mongo