on: [push, pull_request]

jobs:
  redis:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [10.x, 12.x, 13.x]
    services:
      redis:
        image: redis
        ports:
        - 6379:6379
    name: Node ${{ matrix.node }} test
    steps:
      - uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}    
      - name: Install Deps
        run: npm install
      - name: Run tests
        run: npm test
        env:
          DB: redis
          NO_CLUSTERS: 'true'
  mongo:
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        node-version: [10.x, 12.x, 13.x]
    services:
      mongodb:
        image: mongo:3.4.23
        ports:
          - 27017:27017
    name: Node ${{ matrix.node }} test
    steps:
      - uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - name: Install Deps
        run: npm install
      - name: Run tests
        run: npm test 
        env:
          DB: mongo
          NO_CLUSTERS: 'true'