name: redisCI

on: 
  push:
    branches:
      - master
  pull_request:

jobs:
  redis:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        max-parallel: 1
        node-version: [10.x, 12.x, 14.x]
    services:
      redis:
        image: redis
        ports:
        - 6379:6379
    name: Node ${{ matrix.node-version }} test
    steps:
      - uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}    
      - name: Install Deps
        run: npm install
      - name: Run tests on REDIS
        timeout-minutes: 3
        run: npm test
        env:
          DB: redis